// styles for videoOverlay

#container {
    border: 2px solid green;
    width: 100%;
    display: flex;
    margin: auto;

    img {
	width: 100%;
    }

    #videoEnclosure {
	border: 2px solid lightgreen;
	width: 50%;
	display: flex;
	flex-direction: column;

	iframe {
	    width: 100%;
	    height: 100%;
	}

	img {
	    display: none;
	    width: 10%;
	    border: 1px solid orange;
	    margin-left: 40%;
	    margin-right: 10%;
	}
    }
}

#hiddenVideo {
    width: 100%;
    height: 100%;
    //background-color: ;
    background-color: rgba(0,0,0,.09);
    //opacity: 0.5;
    iframe {
	width: 90%;
	height: 300px;
	margin-top: 10%;
	margin-left: 5%;
    }

    img {
	margin-left: 40%;
	width: 5%;
    }
    
}
